.mobile {
  display: none; }

html {
  /*etiqueta raiz*/
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFBF2;
  color: #000000;
  font-size: 2rem;
  margin-top: 2rem; }

.header {
  padding-right: 50px; }

.header__link {
  color: #000000;
  padding: 20px;
  margin-top: 50px; }
  .header__link:hover {
    color: #034D44;
    padding: 20px; }

.nav {
  height: 80px;
  background-color: #FFFBF2;
  display: block; }

h1 {
  font-family: "Proza Libre", sans-serif;
  color: #FFFBF2;
  font-size: 9rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #034D44;
  margin-bottom: 4rem;
  line-height: 7rem; }

.paragraph__gap {
  margin-bottom: 18rem; }

.titles__gap {
  margin-bottom: 4rem; }

h2 {
  color: #E25043;
  font-family: "Proza Libre", sans-serif;
  font-size: 5rem; }

h3 {
  color: #034D44;
  font-family: "Proza Libre", sans-serif; }

.scale-photo:hover {
  transform: translate(0.5rem, 0.5rem); }

.button {
  width: 200px;
  height: 60px;
  border: none;
  background: #034D44;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  color: #FFFBF2;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer; }
  .button:hover {
    background: #2B7A71;
    text-decoration: none; }

#background {
  background-color: #E25043;
  color: #FFFBF2; }

.projects__links {
  color: #E25043; }
  .projects__links:hover {
    color: #034D44; }

.projects {
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #034D44;
  color: #FFFBF2;
  font-family: "Proza Libre", sans-serif;
  font-size: 5rem;
  align-items: center; }
  .projects:hover {
    color: #E25043;
    -webkit-text-stroke-width: 0px; }

.card {
  width: 100px;
  height: 120px;
  border: 0.15rem; }

.footer {
  background-color: #034D44;
  align-items: center;
  color: #FFFBF2; }

.footer__links {
  color: #FFFBF2;
  font-size: 1,5rem; }
  .footer__links:hover {
    color: #FFFBF2; }

.text {
  color: #FFFBF2;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px; }

li {
  margin-top: 20px; }

.social {
  width: 30px;
  height: 30px;
  color: #FFFBF2;
  margin-right: 10px;
  margin-top: 10px; }
  .social:hover {
    opacity: 0.7; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: #E25043;
  background-color: #E25043;
  background-size: 50%, 50%;
  border-radius: 50%; }

.div-scale {
  display: inline block;
  align-items: center; }
  .div-scale:hover {
    transform: scale(1.1); }

.icon {
  align-items: center; }

label {
  margin: 0 40 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none; }

.scale-photo:hover {
  transform: translate(10px, 10px); }

#toggle {
  display: none; }

.menu {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: flex-end;
  margin-bottom: 10rem; }

h1 span {
  display: inline-block;
  animation: float .2s ease-in-out infinite;
  color: #FFFBF2;
  font-family: "Proza Libre", sans-serif;
  font-size: 9rem;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #034D44;
  line-height: 10rem; }

@keyframes float {
  0%, 100% {
    transform: none; } }

h1:hover span {
  animation: bounce .8s; }

@keyframes bounce {
  0%, 100% {
    transform: translate(0); }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    color: #034D44; }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1); } }

h1 span:nth-child(2) {
  animation-delay: .05s; }

h1 span:nth-child(3) {
  animation-delay: .1s; }

h1 span:nth-child(4) {
  animation-delay: .15s; }

h1 span:nth-child(5) {
  animation-delay: .2s; }

h1 span:nth-child(6) {
  animation-delay: .25s; }

h1 span:nth-child(7) {
  animation-delay: .3s; }

h1 span:nth-child(8) {
  animation-delay: .35s; }

h1 span:nth-child(9) {
  animation-delay: .4s; }

h1 span:nth-child(10) {
  animation-delay: .45s; }

h1 span:nth-child(11) {
  animation-delay: .5s; }

h1 span:nth-child(12) {
  animation-delay: .55s; }

h1 span:nth-child(13) {
  animation-delay: .6s; }

h1 span:nth-child(14) {
  animation-delay: .65s; }

h1 span:nth-child(15) {
  animation-delay: .7s; }

h1 span:nth-child(16) {
  animation-delay: .85s; }

h1 span:nth-child(17) {
  animation-delay: .9s; }

h1 span:nth-child(18) {
  animation-delay: .95s; }

h1 span:nth-child(19) {
  animation-delay: 1.0s; }

h1 span:nth-child(19) {
  animation-delay: 1 0.5s; }

h1 span:nth-child(20) {
  animation-delay: 1.1s; }

* {
  box-sizing: border-box; }

@media only screen and (max-width: 1024px) {
  .hide {
    display: none; }
  .mobile {
    display: inline-block; }
  body {
    margin-left: 16px; }
  h1 span {
    font-family: "Proza Libre", sans-serif;
    color: #FFFBF2;
    font-size: 6rem;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: #034D44;
    line-height: 0px; }
  h1 {
    font-family: "Proza Libre", sans-serif;
    color: #FFFBF2;
    font-size: 6rem;
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: #034D44;
    line-height: 70px; }
  h2 {
    font-size: 4rem; }
  p {
    font-size: 2rem; }
  .scale-photo {
    width: 100%;
    height: auto;
    align-items: center;
    position: relative; }
  .plant {
    display: none; }
  label {
    display: block;
    cursor: pointer; }
  .projects-img {
    position: relative;
    align-items: center; }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: #E25043;
    background-color: #E25043;
    background-size: 50%, 50%;
    border-radius: 50%; }
  .card {
    width: 100px;
    height: 100px;
    margin-bottom: 50px; }
  .menu {
    text-align: left;
    width: 100%;
    display: none;
    padding: 0px;
    background-color: #FFFBF2;
    box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2); }
  .menu a {
    display: inline-block;
    border-bottom: solid #E25043 margin 0px; } }

#toggle:checked + .menu {
  display: block; }

li {
  margin-top: 0px; }
